.red{
	color:rgb(220, 0, 49);
}
.blue{
	color:rgb(18, 127, 206);
}
.green{
	color:rgb(0, 186, 36);
}
.orange{
	color:rgb(212, 129, 6);
}
.yellow{
	color:rgb(200, 203, 6);
}
.grey{
	color:rgb(123, 123, 123);
}

h1{
	margin-left: 8px!important;
	text-align: center;
}

h2{
	text-align: center;
}
ul{
	list-style:none;
}
ul > li {
	list-style:none;
}
html, body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: purple;
}
.main_map {
width:100%;
height:calc(100% - 52px);
z-index: 1;
}
.alpaka {
	padding:0 8px;
	flex: 1;
}
#alpakabild {
	height: 48px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 340px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.header {
	display:flex;
}
.header > *:first-child {
	felx: 1;
	margin: auto;
	display:block;
	color: white;
}
@media screen and (max-width: 48rem) {
	h1 {
		font-size:1rem;
	}
}
